---
layout: default
---

<div class="home-wrapper">

  <section class="home-hero">
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
  </section>

  {% assign recent_notes = site.pages
     | where: "section", "documentation"
     | where: "layout", "note"
     | limit: 2 %}

  {% if recent_notes.size > 0 %}
    <section class="posts-grid">
      {% for page in recent_notes %}
        {% include card.html page=page %}
      {% endfor %}
    </section>
  {% endif %}

  <section class="home-content">
    {{ content }}
  </section>

</div>
